@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
@import url(https://fonts.googleapis.com/css?family=Fjalla+One);
* {
    box-sizing: border-box;
}

.ptext {
    text-align: center;
    font-size: 260%;
    color: black;
    font-family: 'Indie Flower', cursive;
    display: block;
}

.ptexts {
    text-align: center;
    font-size: 260%;
    color: white;
    font-family: 'Indie Flower', cursive;
    display: block;
}

#myname {
    text-align: center;
    font-size: 400%;
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    display: block;
    color: black;
}

#sumhead {
    background-color: orange;
    padding: 10px 10px 10px 10px;
    width: auto;
    height: auto;
}

.colorwhite {
    text-align: center;
    color: white;
}

.colorwhite img {
    width: 50%;
    height: 60%;
    padding-bottom: 50px;
}
